$primary-color: #0072eb;
$primary-color-dirty: #3b72ad;
$primary-color-dark: #38434f;
$secondary-color: #eb9500;
$secondary-color-dirty: #b5893c;
$background-color: #1a1a1a;

$mainFont: "Akshar";
$secondaryFont: "Be Vietnam Pro";
$farsiFont: "Noto Sans Arabic";

$generalBlockPadding: 150px;
$generalInlinePadding: 30px;

:root {
  // here, a normal css variable was used because of it's ability to be updated with media queries
  --baseFontSize: 14px;
}
@mixin font-and-letterspacing-control(
  $fontFamily,
  $fontWeight,
  $spaceOfLetters,
  $multiplier: 1
) {
  $calculatedFontSize: calc(var(--baseFontSize) * #{$multiplier});

  font-family: $fontFamily;
  font-weight: $fontWeight;
  letter-spacing: $spaceOfLetters;
  font-size: $calculatedFontSize;
}

@mixin flexbox-control(
  $direction: row,
  $justifyContent: center,
  $alignItems: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin general-section-control {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-block: $generalBlockPadding;
  padding-inline: $generalInlinePadding;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0) 50% 400px,
      rgba(0, 0, 0, 0.7)
    ),
    $background-color;
  isolation: isolate;
}

@mixin mid-screen-meida {
  @media (min-width: 700px) {
    @content;
  }
}
@mixin big-screen-meida {
  @media (min-width: 1000px) {
    @content;
  }
}

html {
  scrollbar-color: black $background-color;
}

body {
  color: white;
}

select {
  @include font-and-letterspacing-control($mainFont, 400, 1px, 0.8);
  background: $background-color;
  color: white;
  border: none;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 3px;
  transform: translateY(5px);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  // @include font-and-letterspacing-control($farsiFont, 700, 2px, 2.2);
  @include font-and-letterspacing-control($mainFont, 700, 7px, 2.2);
}

.section-half {
  width: 100%;
  @include flexbox-control(column);
  gap: 25px;
}

.divider-shape {
  position: absolute;
  width: 100%;
  height: 80px;
  transform: scaleX(-1);
  // transform: scale(-1, -1);
  bottom: 0;
  left: 0;
}

.resume-download-btn {
  padding: 5px 10px;
  @include font-and-letterspacing-control($mainFont, 400, 3px, 0.7);
  border: 1px solid $secondary-color;
  border-radius: 7px;
  transform: translateY(-500px);
  & img {
    transform: translateY(4px);
  }
}

@include mid-screen-meida {
  :root {
    --baseFontSize: 16px;
  }
  .section-half {
    width: 50%;
  }
}
@include big-screen-meida {
  :root {
    --baseFontSize: 18px;
  }
}
