@import "../global-definitions";

.hero-section {
  width: 100%;
  height: 700px;
  text-align: center;
  @include flexbox-control(column);
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 250px),
    linear-gradient(
      140deg,
      adjust-color($primary-color, $lightness: +10%) 10%,
      adjust-color($secondary-color, $lightness: +10%) 90% 200px
    ),
    url("../../images/texture35yu.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  isolation: isolate;

  & h1 {
    font-size: calc(var(--baseFontSize) * 3.5);
    margin-bottom: 15px;
  }

  & p {
    @include font-and-letterspacing-control("Bangers", 300, 4px, 1.2);
  }
}

.hero-shapes-container {
  position: relative;
  width: 100%;
  & :nth-child(1),
  & :nth-child(2) {
    position: absolute;
    top: 10px;
    left: -100px;
    width: 250px;
  }

  & :nth-child(1) {
    transform: rotate(-30deg) translate(100px, 150px);
    width: 250px;
  }
}

.hero-section-shape-big {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0px;
  filter: drop-shadow(5px -5px 5px $primary-color);
  width: 165px;
}
.hero-section-shape-small {
  position: absolute;
  z-index: -2;
  top: 120px;
  left: 150px;
  width: 110px;
  filter: drop-shadow(3px -4px 5px $secondary-color);
}

@include mid-screen-meida {
  .hero-shapes-container {
    width: 80%;
  }

  .hero-section-shape-big {
    width: 185px;
  }

  .hero-section-shape-small {
    width: 130px;
  }
}
@include big-screen-meida {
  .hero-shapes-container {
    width: 70%;
  }
}
