@import "../components/skill-item";

.skills-section {
  @include general-section-control();
  overflow: hidden;

  &-content {
    @include flexbox-control(column);
    gap: 30px;
  }

  & h2 {
    margin-bottom: 60px;
  }
}

.skill-item {
  opacity: 0;
}

.my-skills-icon {
  width: 100px;
}

.circle-shape {
  position: absolute;
  bottom: -110px;
  left: -400px;
  z-index: -5;
  width: 700px;
  opacity: 50%;
}

@include mid-screen-meida {
  .skills-section {
    &-content {
      @include flexbox-control();
    }
  }
}
