// @import "../global-definitions";

.btn-primary {
  background: $secondary-color;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: box-shadow 150ms linear;
  &:hover {
    box-shadow: 0px 0px 10px $secondary-color, 0px 0px 35px $secondary-color;
  }
}

.btn-primary-small {
  padding-inline: 15px;
  padding-block: 7px;
  @include font-and-letterspacing-control($mainFont, 500, 2px, 1);
}
.btn-primary-big {
  padding-inline: 27px;
  padding-block: 7px;
  @include font-and-letterspacing-control($mainFont, 500, 3px, 1.2);
}
