.footer-navigation {
  @include flexbox-control(column);
  // background: $secondary-color-dirty;
  background: linear-gradient(
    to top,
    $secondary-color-dirty -80%,
    $secondary-color
  );

  padding-top: 40px;
  padding-bottom: 150px;
  padding-inline: $generalInlinePadding;
  @include font-and-letterspacing-control($mainFont, 400, 2px, 1.05);
  text-align: center;

  & p {
    @include font-and-letterspacing-control($mainFont, 500, 3px, 0.8);
    margin-top: 20px;
  }

  & li {
    margin-bottom: 25px;
  }

  & img {
    display: none;
    margin-bottom: 40px;
  }
}

@include mid-screen-meida {
  .footer-navigation {
    @include flexbox-control(row, space-between, center);
    text-align: start;
    padding-inline: $generalInlinePadding + 20px;

    & p {
      margin-top: 0px;
    }
    &-links,
    &-logo-and-text {
      height: 110px;
    }

    &-logo-and-text {
      text-align: center;

      & img {
        display: block;
        width: 170px;
        margin-inline: auto;
      }
    }
  }
}

@include big-screen-meida {
  .footer-navigation {
    padding-inline: $generalInlinePadding + 100px;
  }
}
