@import "../global-definitions";

.footer-navbar-links {
  background: $secondary-color-dirty;
  padding-block: 40px;
  padding-inline: $generalInlinePadding;
  @include font-and-letterspacing-control($secondaryFont, 500, 1px, 1.2);
  text-align: center;

  & p {
    @include font-and-letterspacing-control($mainFont, 300, 3px);
    margin-top: 50px;
  }

  & li {
    margin-bottom: 20px;
  }
}
