// @import "../_global-definitions";

.header-navbar {
  box-sizing: border-box;
  width: 100%;
  direction: ltr;

  & > div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 80px;
    padding-bottom: 10px;
    padding-inline: 30px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    @include flexbox-control(none, space-between, end);
  }

  &_logo img {
    transform: translateY(-5px);
    width: 120px;
  }
}

.navbar-links {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  padding-inline: 40px;
  padding-block: 110px;
  backdrop-filter: blur(20px);
  background: linear-gradient(
    90deg,
    adjust-color($primary-color, $alpha: -0.85),
    rgba(53, 53, 53, 0.5) 25% 90%,
    adjust-color($primary-color, $alpha: -0.9)
  );

  transform: translateX(1000px);
  transition: transform 400ms ease-out;
  & li {
    @include font-and-letterspacing-control($mainFont, 300, 3px, 1.1);
    margin: 40px 0;
    cursor: pointer;

    & img {
      width: 28px;
      transform: translate(-8px, 8px);
    }
  }
}

.close-menu-btn {
  float: right;
  transform: translateY(-50px);
  & img {
    width: 20px;
  }
}

.menu-open {
  transform: translateX(0px);
}

.navbar-links-big-screen {
  display: none;
  height: 100%;
  @include font-and-letterspacing-control($mainFont, 500, 2px, 0.9);
  & ul {
    height: 100%;
    gap: 30px;
    @include flexbox-control(row, center, end);
    & li {
      padding-bottom: 20px;

      & a {
        transition: color 300ms ease-in-out;
      }
    }
  }
}

.not-hovered-navbar-link {
  color: gray;
}

.resume-logo-and-language-selector-container {
  @include flexbox-control(row, center, center);
  gap: 40px;
  // padding-bottom: 20px;
}

.change-language-and-download-resume-container {
  display: none;
  height: 30px;
}

.resume-download-btn {
  padding: 7px 11px;
  @include font-and-letterspacing-control($mainFont, 400, 2px, 0.7);
  border: 1px solid $secondary-color;
  border-radius: 7px;
}

.language-selector {
  @include font-and-letterspacing-control($mainFont, 400, 1px, 0.8);
  background: $background-color;
  color: white;
  border: none;
  border-radius: 5px;
  padding-inline: 10px;
}


@include mid-screen-meida {
  .navbar-links {
    display: block;
    width: 350px;
  }
  .header-navbar_logo img {
    width: 135px;
  }
}

@include big-screen-meida {
  .header-navbar {
    & > div {
      padding-inline: 140px;
    }
  }
  .navbar-links-big-screen {
    display: block;
  }

  .change-language-and-download-resume-container {
    @include flexbox-control(row, center, stretch);
    gap: 20px;
    }
  

  .open-menu-btn {
    display: none;
  }
  .navbar-links {
    display: none;
  }
}
