@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@400..700&family=Bangers&family=Be+Vietnam+Pro:wght@400;500&family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
:root {
  --baseFontSize: 14px;
}

html {
  scrollbar-color: black #1a1a1a;
}

body {
  color: white;
}

select {
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 1px;
  font-size: calc(var(--baseFontSize) * 0.8);
  background: #1a1a1a;
  color: white;
  border: none;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 3px;
  transform: translateY(5px);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2.2);
}

.section-half {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.divider-shape {
  position: absolute;
  width: 100%;
  height: 80px;
  transform: scaleX(-1);
  bottom: 0;
  left: 0;
}

.resume-download-btn {
  padding: 5px 10px;
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 0.7);
  border: 1px solid #eb9500;
  border-radius: 7px;
  transform: translateY(-500px);
}
.resume-download-btn img {
  transform: translateY(4px);
}

@media (min-width: 700px) {
  :root {
    --baseFontSize: 16px;
  }
  .section-half {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}
.header-navbar {
  box-sizing: border-box;
  width: 100%;
  direction: ltr;
}
.header-navbar div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 80px;
  padding: 0 30px 10px 30px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.header-navbar_logo img {
  transform: translateY(-5px);
  width: 120px;
}

.navbar-links {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  padding-inline: 40px;
  padding-block: 110px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: linear-gradient(90deg, rgba(0, 114, 235, 0.15), rgba(53, 53, 53, 0.5) 25% 90%, rgba(0, 114, 235, 0.1));
  transform: translateX(1000px);
  transition: transform 400ms ease-out;
}
.navbar-links li {
  font-family: "Akshar";
  font-weight: 300;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.1);
  margin: 40px 0;
  cursor: pointer;
}
.navbar-links li img {
  width: 28px;
  transform: translate(-8px, 8px);
}

.close-menu-btn {
  float: right;
  transform: translateY(-50px);
}
.close-menu-btn img {
  width: 20px;
}

.menu-open {
  transform: translateX(0px);
}

.navbar-links-big-screen {
  display: none;
  height: 100%;
  font-family: "Akshar";
  font-weight: 500;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1);
}
.navbar-links-big-screen ul {
  height: 100%;
  gap: 30px;
  display: flex;
  flex-direction: 0;
  justify-content: 0;
  align-items: end;
}
.navbar-links-big-screen ul li {
  padding-bottom: 20px;
}
.navbar-links-big-screen ul li a {
  transition: color 300ms ease-in-out;
}

.not-hovered-navbar-link {
  color: gray;
}

@media (min-width: 700px) {
  .navbar-links {
    display: block;
    width: 350px;
  }
  .header-navbar_logo img {
    width: 135px;
  }
}
@media (min-width: 1000px) {
  .header-navbar div {
    padding: 0 53px 10px 53px;
  }
  .navbar-links-big-screen {
    display: block;
  }
  .open-menu-btn {
    display: none;
  }
  .navbar-links {
    display: none;
  }
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #b5893c;
  padding-block: 40px;
  padding-inline: 30px;
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: calc(var(--baseFontSize) * 1.05);
  text-align: center;
}
.footer-navigation p {
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1);
  margin-top: 20px;
}
.footer-navigation li {
  margin-bottom: 15px;
}
.footer-navigation img {
  display: none;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding-inline: 50px;
  }
  .footer-navigation p {
    margin-top: 0px;
  }
  .footer-navigation-links, .footer-navigation-logo-and-text {
    height: 110px;
  }
  .footer-navigation-logo-and-text {
    text-align: center;
  }
  .footer-navigation-logo-and-text img {
    display: block;
    width: 170px;
    margin-inline: auto;
  }
}
@media (min-width: 1000px) {
  .footer-navigation {
    padding-inline: 130px;
  }
}
.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0) 250px);
  background-color: #1a1a1a;
  overflow: hidden;
}
.hero-section h1 {
  font-size: calc(var(--baseFontSize) * 3.5);
  margin-bottom: 15px;
  text-shadow: 10px 5px 15px black;
}
.hero-section p {
  font-family: "Bangers";
  font-weight: 300;
  letter-spacing: 4px;
  font-size: calc(var(--baseFontSize) * 1.3);
}

.hero-background-image-wraper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0) 250px), linear-gradient(140deg, #1f8cff 10%, #ffad1f 90% 200px), url("../../images/texture35yu2.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  transition: opacity 100ms;
}

.hero-shapes-container {
  position: relative;
  width: 100%;
}
.hero-shapes-container :nth-child(1), .hero-shapes-container :nth-child(2) {
  position: absolute;
  top: 10px;
  left: -100px;
  width: 250px;
}
.hero-shapes-container :nth-child(1) {
  transform: rotate(-30deg) translate(100px, 150px);
  width: 250px;
}

.hero-section-shape-big {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0px;
  filter: drop-shadow(5px -5px 5px #0072eb);
  width: 165px;
}

.hero-section-shape-small {
  position: absolute;
  z-index: -2;
  top: 120px;
  left: 150px;
  width: 110px;
  filter: drop-shadow(3px -4px 5px #eb9500);
}

@media (min-width: 700px) {
  .hero-section h1 {
    font-size: calc(var(--baseFontSize) * 4);
    letter-spacing: 15px;
  }
  .hero-shapes-container {
    width: 80%;
  }
  .hero-section-shape-big {
    width: 185px;
  }
  .hero-section-shape-small {
    width: 130px;
  }
}
@media (min-width: 1000px) {
  .hero-section h1 {
    font-size: calc(var(--baseFontSize) * 5);
  }
  .hero-shapes-container {
    width: 70%;
  }
}
.btn-primary {
  background: #eb9500;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: box-shadow 150ms linear;
}
.btn-primary:hover {
  box-shadow: 0px 0px 10px #eb9500, 0px 0px 35px #eb9500;
}

.btn-primary-small {
  padding-inline: 15px;
  padding-block: 10px;
  font-family: "Akshar";
  font-weight: 500;
  letter-spacing: 2px;
  font-size: calc(var(--baseFontSize) * 0.9);
}

.btn-primary-big {
  padding-inline: 22px;
  padding-block: 13px;
  font-family: "Akshar";
  font-weight: 500;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.1);
}

.about-section {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-block: 150px;
  padding-inline: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50% 400px, rgba(0, 0, 0, 0.7)), #1a1a1a;
  isolation: isolate;
  overflow: hidden;
}
.about-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.about-section-content .mask-lightning {
  position: absolute;
  top: 120px;
  left: -40px;
  z-index: -5;
}
.about-section p {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  letter-spacing: 1px;
  font-size: calc(var(--baseFontSize) * 1);
  line-height: 25px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  margin-top: 40px;
}

.about-text-container img {
  width: 90%;
  border-radius: 15px;
  margin-block: 30px;
  margin-inline: auto;
  filter: grayscale(1);
}

@media (min-width: 700px) {
  .about-section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .about-section p {
    letter-spacing: 2px;
    line-height: 35px;
    margin-left: 50px;
  }
  .about-text-container {
    width: 55%;
  }
  .about-text-container img {
    margin-left: 50px;
  }
}
.go-to-projects-link {
  direction: ltr;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  width: 100%;
  height: 150px;
  border-radius: 16px;
  background-image: linear-gradient(160deg, #1a1a1a 40%, rgba(255, 255, 255, 0)), url("../../images/Official-projects-link.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  font-family: "Akshar";
  font-weight: 600;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 1.6);
  transition: padding 300ms ease-in-out;
}
.go-to-projects-link h3 {
  transform: translate(40px, 50px);
  transition: transform 200ms ease-in-out;
}
.go-to-projects-link p {
  opacity: 0%;
  font-size: var(--baseFontSize);
  transform: translate(40px, 40px);
  padding-top: 10px;
  padding-left: 10px;
  transition: opacity 200ms ease-in-out;
}
.go-to-projects-link:hover,
.go-to-projects-link .overlay:hover {
  filter: contrast(90%);
}
.go-to-projects-link:hover h3,
.go-to-projects-link .overlay:hover h3 {
  transform: translate(40px, 40px);
}
.go-to-projects-link:hover p,
.go-to-projects-link .overlay:hover p {
  opacity: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 70%;
}
.overlay-primary-color {
  background: linear-gradient(165deg, #004185 5% 80px, rgba(0, 0, 0, 0));
}
.overlay-secondary-color {
  background: linear-gradient(165deg, #855400 5% 80px, rgba(0, 0, 0, 0));
}

.projects-section {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-block: 150px;
  padding-inline: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50% 400px, rgba(0, 0, 0, 0.7)), #1a1a1a;
  isolation: isolate;
}
.projects-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.projects-section-content .projects-link-explanation {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: calc(var(--baseFontSize) * 1);
  width: 350px;
  height: 100px;
  line-height: 25px;
  display: none;
}
.projects-section img {
  width: 130px;
}
.projects-section h2 {
  margin-bottom: 60px;
}
.projects-section a {
  width: 100%;
  height: auto;
}

@media (min-width: 700px) {
  .projects-section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .projects-section-content .projects-link-explanation {
    display: block;
    visibility: hidden;
  }
  .projects-section h2 {
    margin-bottom: 20px;
  }
}
.skill-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 30px 0;
  width: clamp(1px, 100%, 500px);
}

.skill-item {
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-item-icon-area {
  width: clamp(60px, 20vw, 74px);
  height: 74px;
  margin-bottom: 15px;
  border: 2px solid #0072eb;
  border-radius: 4px;
  box-shadow: 0px 1px 3px #0072eb, 0px 5px 15px -2px #0072eb;
  background: #121212;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skill-item-icon-area img {
  width: 50px;
}

.skills-section {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-block: 150px;
  padding-inline: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50% 400px, rgba(0, 0, 0, 0.7)), #1a1a1a;
  isolation: isolate;
  overflow: hidden;
}
.skills-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.skills-section h2 {
  margin-bottom: 60px;
}

.my-skills-icon {
  width: 100px;
}

.circle-shape {
  position: absolute;
  bottom: -110px;
  left: -400px;
  z-index: -5;
  width: 700px;
  opacity: 50%;
}

@media (min-width: 700px) {
  .skills-section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.contact-me-page {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-block: 150px;
  padding-inline: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50% 400px, rgba(0, 0, 0, 0.7)), #1a1a1a;
  isolation: isolate;
}
.contact-me-page h1 {
  text-align: center;
}
.contact-me-page-content {
  font-family: "Akshar";
  font-weight: 500;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.email-option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-top: 105px;
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.2);
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
}
.social-links li {
  padding-inline: 15px;
  padding-bottom: 15px;
}
.social-links a {
  color: #eb9500;
}
.social-links a:hover {
  filter: drop-shadow(0px 0px 5px #eb9500);
}
.social-links img {
  width: 25px;
  margin-right: 5px;
  transform: translateY(5px);
}

@media (min-width: 700px) {
  .contact-me-page h1 {
    text-align: start;
  }
  .contact-me-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
  }
  .email-option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
  }
  .social-links {
    width: 500px;
  }
  .social-links img {
    width: 30px;
  }
}
@media (min-width: 1000px) {
  .contact-me-page {
    padding-inline: 130px;
  }
  .email-option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .social-links {
    width: 700px;
  }
}
#technologie-item {
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: calc(var(--baseFontSize) * 0.8);
  padding-inline: 9px;
  padding-block: 3px;
  background: #0072eb;
  border-radius: 5px;
}

@keyframes modal-open {
  from {
    display: block;
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes modal-close {
  from {
    display: block;
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.projects-page {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-block: 150px;
  padding-inline: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50% 400px, rgba(0, 0, 0, 0.7)), #1a1a1a;
  isolation: isolate;
  overflow: hidden;
}
.projects-page h1 {
  text-align: center;
  line-height: 50px;
}
.projects-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.projects-background-shape {
  position: absolute;
  top: 100px;
  right: -100px;
  z-index: -5;
  width: 700px;
  opacity: 70%;
}

.project-cards-wraper {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(1, minmax(1px, 350px));
}

.project-card {
  position: relative;
  display: inline-block;
  overflow: visible;
  background: #0d0d0d;
  border-top: 1px solid #0072eb;
  border-bottom: 3px solid #0072eb;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}
.project-card h2 {
  float: left;
  font-family: "Akshar";
  font-weight: 500;
  letter-spacing: 1px;
  font-size: calc(var(--baseFontSize) * 1.2);
  margin: 13px;
  text-align: start;
}
.project-card p {
  float: right;
  margin: 12px 20px;
  color: #eb9500;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  font-family: "Akshar";
  font-weight: 500;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 0.8);
}
.project-card p img {
  width: 18px;
  transform: translateY(3px);
}
.project-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px -2px #0072eb, 0px 0px 30px -10px #0072eb;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.project-card:hover {
  transform: scale(1.02);
}
.project-card:hover p {
  opacity: 1;
}
.project-card:hover::before {
  opacity: 1;
}

.contact-reminder-wraper {
  grid-column: 1/-1;
  padding: 20px;
  border: 1px solid #eb9500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.contact-reminder-wraper p {
  line-height: 25px;
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 0.8);
}

.project-info-modal {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0px;
  width: 90%;
  height: 600px;
  padding-inline: 20px;
  padding-block: 60px;
  background: #1a1a1a;
  border: 1px solid #eb9500;
  border-radius: 10px;
  color: white;
}
.project-info-modal h2 {
  margin-bottom: 70px;
}
.project-info-modal h3 {
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.1);
}
.project-info-modal p {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: calc(var(--baseFontSize) * 1);
}
.project-info-modal button:focus {
  outline: none;
}
.project-info-modal button {
  float: right;
}

.project-modal-content-wraper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin-top: 100px;
  gap: 150px;
}
.project-modal-content-wraper .project-description {
  line-height: 30px;
}
.project-modal-content-wraper img {
  margin-top: 60px;
  width: 100%;
}

.project-details {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  float: right;
  width: 100%;
  margin-top: 40px;
  margin-left: 40px;
}
.project-details a {
  grid-column: 1/-1;
}
.project-details h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.project-details h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
}

.technologies-wraper {
  min-height: 100px;
}
.technologies-wraper div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.client-wraper {
  min-height: 100px;
}

@media (min-width: 700px) {
  .project-cards-wraper {
    grid-template-columns: repeat(2, minmax(1px, 350px));
  }
  .contact-reminder-wraper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-reminder-wraper p {
    width: 300px;
    text-align: start;
  }
  .project-details {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .project-details a {
    grid-column: auto;
  }
  .project-info-modal {
    padding: 60px;
  }
}
@media (min-width: 1000px) {
  .project-cards-wraper {
    grid-template-columns: repeat(3, minmax(1px, 350px));
  }
  .contact-reminder-wraper p {
    width: 500px;
  }
  .project-description {
    display: inline-block;
    width: 70%;
  }
  .project-details {
    grid-template-columns: repeat(1, 1fr);
    width: 200px;
    margin-top: 0px;
  }
}/*# sourceMappingURL=index.css.map */