@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@400..700&family=Bangers&family=Be+Vietnam+Pro:wght@400;500&family=Protest+Revolution&display=swap");
:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

.header-navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.header-navbar div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 80px;
  padding: 0 30px 10px 30px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header-navbar_logo img {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  width: 120px;
}

.navbar-links {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  padding-inline: 40px;
  padding-block: 110px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 114, 235, 0.15)), color-stop(25%, rgba(53, 53, 53, 0.5)), to(rgba(0, 114, 235, 0.1)));
  background: linear-gradient(90deg, rgba(0, 114, 235, 0.15), rgba(53, 53, 53, 0.5) 25% 90%, rgba(0, 114, 235, 0.1));
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.navbar-links li {
  font-family: "Akshar";
  font-weight: 300;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.1);
  margin: 40px 0;
  cursor: pointer;
}

.navbar-links li img {
  width: 28px;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
}

.close-menu-btn {
  float: right;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.close-menu-btn img {
  width: 20px;
}

.menu-open {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.navbar-links-big-screen {
  display: none;
  height: 100%;
  font-family: "Akshar";
  font-weight: 500;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1);
}

.navbar-links-big-screen ul {
  height: 100%;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.navbar-links-big-screen ul li {
  padding-bottom: 20px;
}

@media (min-width: 600px) {
  .navbar-links {
    width: 350px;
  }
  .header-navbar_logo img {
    width: 135px;
  }
}

@media (min-width: 1000px) {
  .header-navbar div {
    padding: 0 80px 10px 80px;
  }
  .navbar-links-big-screen {
    display: block;
  }
  .open-menu-btn {
    display: none;
  }
  .navbar-links {
    display: none;
  }
}

:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

.hero-section {
  width: 100%;
  height: 700px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0) 250px), linear-gradient(140deg, #1f8cff 10%, #ffad1f 90% 200px), url("../../images/texture35yu.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  isolation: isolate;
}

.hero-section h1 {
  font-size: calc(var(--baseFontSize) * 3.5);
  margin-bottom: 15px;
}

.hero-section p {
  font-family: "Bangers";
  font-weight: 300;
  letter-spacing: 4px;
  font-size: calc(var(--baseFontSize) * 1.2);
}

.hero-shapes-container {
  position: relative;
  width: 100%;
}

.hero-shapes-container :nth-child(1),
.hero-shapes-container :nth-child(2) {
  position: absolute;
  top: 10px;
  left: -100px;
  width: 250px;
}

.hero-shapes-container :nth-child(1) {
  -webkit-transform: rotate(-30deg) translate(100px, 150px);
          transform: rotate(-30deg) translate(100px, 150px);
  width: 250px;
}

.hero-section-shape-big {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0px;
  -webkit-filter: drop-shadow(5px -5px 5px #0072eb);
          filter: drop-shadow(5px -5px 5px #0072eb);
  width: 165px;
}

.hero-section-shape-small {
  position: absolute;
  z-index: -2;
  top: 120px;
  left: 150px;
  width: 110px;
  -webkit-filter: drop-shadow(3px -4px 5px #eb9500);
          filter: drop-shadow(3px -4px 5px #eb9500);
}

@media (min-width: 600px) {
  .hero-shapes-container {
    width: 80%;
  }
  .hero-section-shape-big {
    width: 185px;
  }
  .hero-section-shape-small {
    width: 130px;
  }
}

@media (min-width: 1000px) {
  .hero-shapes-container {
    width: 70%;
  }
}

:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

.btn-primary {
  background: #eb9500;
  border-radius: 7px;
  padding-inline: 27px;
  padding-block: 5px;
  font-family: "Akshar";
  font-weight: 500;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.2);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 150ms linear;
  transition: -webkit-box-shadow 150ms linear;
  transition: box-shadow 150ms linear;
  transition: box-shadow 150ms linear, -webkit-box-shadow 150ms linear;
}

.btn-primary:hover {
  -webkit-box-shadow: 0px 0px 10px #eb9500, 0px 0px 35px #eb9500;
          box-shadow: 0px 0px 10px #eb9500, 0px 0px 35px #eb9500;
}

.about-section {
  position: relative;
  padding-block: 150px;
  padding-inline: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50% 400px, rgba(0, 0, 0, 0.7)), #1a1a1a;
  isolation: isolate;
}

.about-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.about-section-content img {
  position: absolute;
  top: 120px;
  left: -40px;
  z-index: -5;
}

.about-section p {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  letter-spacing: 1px;
  font-size: calc(var(--baseFontSize) * 1);
  line-height: 25px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  margin-top: 40px;
}

@media (min-width: 600px) {
  .about-section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .about-section p {
    letter-spacing: 2px;
    line-height: 35px;
    margin-left: 50px;
  }
  .about-text-container {
    width: 55%;
  }
}

:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

.go-to-projects-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  width: 100%;
  height: 150px;
  border-radius: 16px;
  background-image: linear-gradient(160deg, #1a1a1a 40%, rgba(255, 255, 255, 0)), url("../../images/Official-projects-link.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  font-family: "Akshar";
  font-weight: 600;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 1.6);
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
}

.go-to-projects-link h3 {
  -webkit-transform: translate(40px, 50px);
          transform: translate(40px, 50px);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.go-to-projects-link p {
  opacity: 0%;
  font-size: var(--baseFontSize);
  -webkit-transform: translate(40px, 40px);
          transform: translate(40px, 40px);
  padding-top: 10px;
  padding-left: 10px;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.go-to-projects-link:hover,
.go-to-projects-link .overlay:hover {
  -webkit-filter: contrast(90%);
          filter: contrast(90%);
}

.go-to-projects-link:hover h3,
.go-to-projects-link .overlay:hover h3 {
  -webkit-transform: translate(40px, 40px);
          transform: translate(40px, 40px);
}

.go-to-projects-link:hover p,
.go-to-projects-link .overlay:hover p {
  opacity: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 70%;
}

.overlay-primary-color {
  background: linear-gradient(165deg, #004185 5% 80px, rgba(0, 0, 0, 0));
}

.overlay-secondary-color {
  background: linear-gradient(165deg, #855400 5% 80px, rgba(0, 0, 0, 0));
}

.projects-section {
  position: relative;
  padding-block: 150px;
  padding-inline: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50% 400px, rgba(0, 0, 0, 0.7)), #1a1a1a;
  isolation: isolate;
}

.projects-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.projects-section-content .projects-link-explanation {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1);
  width: 350px;
  height: 100px;
  line-height: 25px;
  display: none;
}

.projects-section img {
  width: 130px;
}

.projects-section h2 {
  margin-bottom: 60px;
}

.projects-section a {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  .projects-section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section-content .projects-link-explanation {
    display: block;
    visibility: hidden;
  }
  .projects-section h2 {
    margin-bottom: 20px;
  }
}

:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

.skill-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 30px 0;
  width: clamp(1px, 100%, 500px);
}

.skill-item {
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1.1);
  text-align: center;
}

.skill-item-icon-area {
  width: clamp(60px, 20vw, 74px);
  height: 74px;
  margin-bottom: 15px;
  border: 2px solid #0072eb;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px #0072eb, 0px 5px 15px -2px #0072eb;
          box-shadow: 0px 1px 3px #0072eb, 0px 5px 15px -2px #0072eb;
  background: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-item-icon-area img {
  width: 50px;
}

.skills-section {
  position: relative;
  padding-block: 150px;
  padding-inline: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50% 400px, rgba(0, 0, 0, 0.7)), #1a1a1a;
  isolation: isolate;
  overflow: hidden;
  isolation: isolate;
}

.skills-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.skills-section h2 {
  margin-bottom: 60px;
}

.my-skills-icon {
  width: 100px;
}

.circle-shape {
  position: absolute;
  bottom: -110px;
  left: -400px;
  z-index: -5;
  width: 700px;
  opacity: 50%;
}

@media (min-width: 600px) {
  .skills-section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

:root {
  --baseFontSize: 12px;
}

body {
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "Akshar";
  font-weight: 700;
  letter-spacing: 7px;
  font-size: calc(var(--baseFontSize) * 2);
}

.section-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (min-width: 600px) {
  :root {
    --baseFontSize: 15px;
  }
  .section-half {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  :root {
    --baseFontSize: 18px;
  }
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #b5893c;
  padding-block: 40px;
  padding-inline: 30px;
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: calc(var(--baseFontSize) * 1.05);
  text-align: center;
}

.footer-navigation p {
  font-family: "Akshar";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: calc(var(--baseFontSize) * 1);
  margin-top: 20px;
}

.footer-navigation li {
  margin-bottom: 15px;
}

.footer-navigation img {
  display: none;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    padding-inline: 50px;
  }
  .footer-navigation p {
    margin-top: 0px;
  }
  .footer-navigation-links, .footer-navigation-logo-and-text {
    height: 110px;
  }
  .footer-navigation-logo-and-text {
    text-align: center;
  }
  .footer-navigation-logo-and-text img {
    display: block;
    width: 170px;
    margin-inline: auto;
  }
}

@media (min-width: 1000px) {
  .footer-navigation {
    padding-inline: 130px;
  }
}
