.contact-me-page {
  @include general-section-control();
  & h1 {
    text-align: center;
  }

  &-content {
    @include font-and-letterspacing-control($mainFont, 500, 3px, 1.1);
    @include flexbox-control(column, center, center);
    gap: 40px;
  }
}

.email-option-container {
  @include flexbox-control(column);
  gap: 30px;
  width: 100%;
  padding-top: 105px;
  @include font-and-letterspacing-control($mainFont, 400, 3px, 1.2);
}

.social-links {
  list-style: none;
  @include flexbox-control(row, start, center);
  flex-wrap: wrap;
  width: 200px;
  & li {
    padding-inline: 15px;
    padding-bottom: 15px;
  }
  & a {
    color: $secondary-color;
    &:hover {
      filter: drop-shadow(0px 0px 5px $secondary-color);
    }
  }

  & img {
    width: 25px;
    margin-right: 5px;
    transform: translateY(5px);
  }
}

@include mid-screen-meida {
  .contact-me-page {
    & h1 {
      text-align: start;
    }
  }
  .contact-me-page-content {
    @include flexbox-control(column, center, start);
    padding-left: 40px;
  }

  .email-option-container {
    @include flexbox-control(row, space-between, center);
    width: 500px;
  }

  .social-links {
    width: 500px;
    & img {
      width: 30px;
    }
  }
}
@include big-screen-meida {
  .contact-me-page {
    padding-inline: $generalInlinePadding + 100px;
  }
  .email-option-container {
    @include flexbox-control(row, space-between, center);
  }
  .social-links {
    width: 700px;
  }
}
